{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
<div class="auth-card">
  <div class="auth-card-form">
    <h2>Cadastro</h2>
    <form method="post">
      {% csrf_token %}
      <label for="id_email">E-mail:</label>
      {{ form.email }}
      {% if form.email.errors %}
        <div class="form-error">{{ form.email.errors.0 }}</div>
      {% endif %}
      <label for="id_password">Senha:</label>
      {{ form.password }}
      {% if form.password.errors %}
        <div class="form-error">{{ form.password.errors.0 }}</div>
      {% endif %}
      <label for="id_password2">Confirme a senha:</label>
      {{ form.password2 }}
      {% if form.password2.errors %}
        <div class="form-error">{{ form.password2.errors.0 }}</div>
      {% endif %}
      <button type="submit"><i class="bi bi-person-plus"></i> Cadastrar</button>
    </form>
    <p>Já possui cadastro? <a href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> Clique aqui para entrar</a></p>
  </div>
  <div class="auth-card-img">
    <img src="{% static 'img/pexels-energepic-com-27411-159888.jpg' %}" alt="Login">
  </div>
</div>
{% endblock %}
