{% extends 'base.html' %}

{% block title %}Registrar{% endblock %}

{% block content %}
<div style="max-width: 768px; margin: 0 auto;">
  <h2>Cadastro</h2>
  <form method="post">
    {% csrf_token %}
    <label for="id_email">E-mail:</label>
    {{ form.email }}
    <label for="id_password">Senha:</label>
    {{ form.password }}
    <button type="submit"><i class="bi bi-person-plus"></i> Cadastrar</button>
  </form>
  <p>Já possui cadastro? <a href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> Clique aqui para entrar</a></p>
</div>
{% endblock %}
