{% extends 'base.html' %}
{% load l10n %}

{% block title %}Editar Ativo{% endblock %}

{% block content %}
  <h1>Editar Ativo</h1>
  <form method="post">
    {% csrf_token %}

    <label for="ticker">Ticker</label>
    <input
      type="text"
      id="ticker"
      name="ticker"
      value="{{ asset.ticker }}"
      required
    >

    <label for="quantity">Quantidade</label>
    <input
      type="number"
      id="quantity"
      name="quantity"
      value="{{ asset.quantity|unlocalize }}"
      step="1"
      required
    >

    <label for="average_price">Preço Médio</label>
    <input
      type="number"
      id="average_price"
      name="average_price"
      value="{{ asset.average_price|default_if_none:''|unlocalize }}"
      step="0.01"
      required
    >

    <label for="current_price">Preço Atual</label>
    <input
      type="number"
      id="current_price"
      name="current_price"
      value="{{ asset.current_price|default_if_none:''|unlocalize }}"
      step="0.01"
      required
    >

    <button type="submit" class="btn">Salvar</button>
    <a href="{% url 'manager:home' %}">Cancelar</a>
  </form>
{% endblock %}
