{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}
  <h1>Bem-vindo ao Portfolio!</h1>
  <p>Usuário logado: {{ request.user.username }}</p>
  <div style="max-width: 600px; margin: auto;">
    <canvas id="pieChart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    // Formatador de moeda brasileira
    const formatBRL = new Intl.NumberFormat('pt-BR', {
      style: 'currency',
      currency: 'BRL',
    });

    const data = {
      labels: {{ labels|safe }},
      datasets: [{
        data: {{ values|safe }},
        backgroundColor: [
          '#36A2EB', '#FF6384', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40', '#C9CBCF'
        ],
      }]
    };

    new window.Chart(document.getElementById('pieChart'), {
      type: 'pie',
      data: data,
      options: {
        plugins: {
          tooltip: {
            callbacks: {
              label: function(context) {
                const value = context.raw;
                return formatBRL.format(value);
              }
            }
          }
        }
      }
    });
  </script>
{% endblock %}
