.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-actions a:not(:last-child),
.header-user {
  margin-right: 1rem;
}

nav.header-nav a {
  text-decoration: none;
}

nav.header-nav a:hover,
nav.header-nav a:focus {
  text-decoration: none;
}
